:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate300: hsl(212, 45%, 89%);
    --clr-slate500: hsl(216, 15%, 48%);
    --clr-slate900: hsl(218, 44%, 22%);
    --clr-attribution: hsl(228, 45%, 44%);

    --fw-200: 200;
    --fw-400: 400;
    --fw-700: 700;

}

@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
    src: url(../fonts/Outfit-VariableFont_wght.woff2);
  }

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--clr-slate300);
    height: 100vh;
}

.container-qr-code {
    max-width: 21.33rem;
    /*320pxonbaseto15px*/
    min-height: 32.26666rem;
    /*499pxonbaseto15px*/
    margin-inline: auto;
    padding: 1rem 1rem 2.5rem 1rem;
    margin: 10% auto;
    border-radius: 1.33rem;
    -webkit-border-radius: 1.33rem;
    -moz-border-radius: 1.33rem;
    -ms-border-radius: 1.33rem;
    -o-border-radius: 1.33rem;
    background-color: var(--clr-white);
}

.container-qr-code__img {
    display: block;
    min-width: 19.2rem;
    min-height: 19.2rem;
    border-radius: .66666rem;
    -webkit-border-radius: .66666rem;
    -moz-border-radius: .66666rem;
    -ms-border-radius: .66666rem;
    -o-border-radius: .66666rem;
    margin-bottom: 1.6rem;
}

.container-qr-code__text {
    min-width: 19.2rem;
    min-height: .8666rem;
    text-align: center;
}

.container-qr-code__text h1 {
    font-weight: var(--fw-700);
}

.container-qr-code__text p {
    color: var(--clr-slate500);
    margin-inline: 5%;
    font-weight: var(--fw-200);
}


.attribution { font-size: .73333rem; text-align  : center; }
   
.attribution a { color: var(--clr-attribution); }
